<!DOCTYPE html>
<html>

<head>
    <title>Task Management App</title>
</head>

<body>
    <h1>Welcome to Task Management App</h1>
    <a href="/auth/register">Register</a><br />
    <a href="/auth/login">Login</a><br />
    <a href="/publicTasks">Public Tasks</a><br />
</body>

</html>